version: '3'
services:
  php:
    secrets:
      - source: ssh_git_key
        target: '/root/.ssh/id_ed25519'
        mode: 0400
    volumes:
      - './docker/volumes/histfiles:/histfiles'
    environment:
      HISTFILE: '/histfiles/.bash_history_php'
secrets:
  ssh_git_key:
    file: ${SSH_GIT_KEY_FILE}
